#latest-works .mask-middle-product{
	position: relative;
}
#latest-works .mask-middle-product .mask-info{
	position: absolute;
	top: 0px;
	left:0px;
	right:0px;
	bottom: 0px;
	opacity: 0;
	overflow:hidden;
}
#latest-works .mask-middle-product:hover .mask-info{
	opacity: 1;
	background-color: rgba(255, 255, 255, 0.9);
	transition: all 0.4s ease-in-out;
}
#latest-works .mask-middle-product:hover .mask-info .row{
	position: absolute;
	bottom: 0px;
}
#new-update #top-left .mask:hover .info-mask-update{
	display: block;
	opacity: 1;
	background-color: rgba(0,0,0,0.7);
	transition: all 0.4s ease-in-out;
}
#new-update .mask-update:hover .mask{
	height: 260px;
	background-color: rgba(0,0,0,0.7);
}