/*add font*/

/*end add font*/

/*header*/
header nav ul li a{
	font-family:'Montserrat';
	font-size: 13px;
	font-weight: 400;
	line-height: 15.6px;
	letter-spacing: 0px;
	text-transform: uppercase;
	color: #fff;
}
header nav a{
	text-decoration: none !important;
}
ul,
li{
	list-style: none;
}
nav ul li ul li a{float:left;display:block;padding:7px 5px;color:#fff;margin-left: -20px;}
nav ul li ul{position:absolute;width:120px;background:#1CBD9C;display:none;}
nav ul li ul li{width:100%;float:right;}
nav ul li ul li ul{margin-left:80px;margin-top:0;display:none;}
li:hover > ul{display:block;}
.sticky-menu{
	background-color: rgba(0,0,0,0.9);
	margin-top: -55px; 
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 9999;
}
header nav li a:hover,
header nav li a:focus{
	background: transparent !important;
	color: #b6683f;
	transition: all 0.4s ease-in-out;
}
header nav .icon-bar{
	color: #fff;
	font-size: 20px;
}
header nav ul li a .pe{
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 0px;
	text-transform: uppercase;
	color: #fff;
	font-style: bold;
}
header nav ul li a #search{
	width: 300px;
	margin-top:10px; 
}
header .carousel-inner .item h1{
	font-family: 'Montserrat';
	font-size: 60px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.4px;
	line-height: 84px;
	color: #fff;
	padding-bottom: 15px;
}
header .carousel-inner .item p{
	font-family: 'Montserrat';
	font-size: 13px;
	font-weight: 400;
	line-height: 20.8px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-bottom: 60px;
}
header .carousel-inner .item .carousel-caption{
	top: 50%;
	transform:translateY(-50%); 
}
header .carousel-inner .item .carousel-caption .more{
	font-family: 'Montserrat';
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	line-height: 15.6px;
	color: #fff;
	border: 2px solid #fff;
	padding: 18px 30px;
	text-decoration: none;
	border-radius: 5%;
}
header .carousel-inner .item .more:hover{
	border: 2px solid #b6683f;
	color: #b6683f;
	transition: all 0.4s ease-in-out;
}
header .carousel-inner .item .center{
	position: relative;
	z-index: 999;
	top: 50%;
	transform: translateY(-50%);
}
header nav ul li button{
	background: none;
	border: 0px;
	color: #fff;
	padding-top: 15px;
}
header nav ul li button:focus{
	border:none;
}
/*end header*/

/*main*/

/*say-hello*/
#say-hello{
	padding-top: 118px;
	padding-bottom: 126px;
	border-bottom: 1px solid #eeeeee;
}
#say-hello #logo img{
	padding-bottom: 34px;
}
#say-hello h1{
	font-family: 'Montserrat';
	font-size: 60px;
	font-weight: 700;
	line-height: 84px;
	letter-spacing: 0px;
	color: #333333;
	text-transform:uppercase;
	padding-bottom: 2px;
}
#say-hello p{
	font-family: 'Montserrat';
	font-size: 12px;
	font-weight: 400;
	line-height: 21.6px;
	letter-spacing: 1px;
	color: #bbbbbb;
	text-transform:uppercase;
	padding-bottom: 40px;
}
#say-hello a{
	font-family: 'Montserrat';
	font-size: 13px;
	font-weight: 400;
	line-height: 15.6px;
	letter-spacing: 0.4px;
	color: #333;
	text-transform:uppercase;
	text-decoration: none;
	border: 2px solid #333;
	padding: 18px 24px;
	border-radius: 5%;
}
#say-hello a:hover {
	border: 2px solid #b6683f;
	color: #b6683f;
	transition: all 0.4s ease-in-out;
}
#say-hello #img img{
	padding-top: 125px;
}
/*end say-hello*/

/*top-product*/
#top-product img{
	padding-top: 125px;
}
/*end top-product*/

/*our-services*/
#our-services{
	padding-top: 95px;
	padding-bottom: 70px;
}
#our-services h3{
	font-family: 'Montserrat';
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	color: #333333;
	padding-bottom: 40px;
}
#our-services .pe{
	font-size: 60px;
	color: #cccccc;
	padding-bottom: 20px;
}
#our-services h5{
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: 400;
	line-height: 16.8px;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	color: #333333;
	padding-bottom: 15px;
}
#our-services p{
	font-family: 'Raleway';
	font-size: 14px;
	font-weight: 300;
	line-height: 22.4px;
	letter-spacing: 0.4px;
	color: #8c8c8c;
	padding-bottom: 40px;
}
/*end our-services*/

/*image-background*/
#theme-features {
	background-image: url("../images/theme-feature-background.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	padding-top: 110px;
	padding-bottom: 123px;
}
#theme-features #top h5{
	font-family: 'Montserrat';
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.4px;
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 44px;
}
#theme-features .box,
#theme-features #right .bottom .row{
	display: flex;
}
#theme-features .box #left{
	background-color: #222222;
	margin-right: 10px;
	padding: 135px 30px;
}
#theme-features #left .pe{
	color: #999999;
	font-size: 40px;
	line-height: 40px;
	padding-bottom: 15px;
}
#theme-features h6{
	font-family: 'Montserrat';
	font-size: 14px;
	line-height: 16.8px;
	letter-spacing: 0.4px;
	color: #333333;
	text-transform: uppercase;
	padding-bottom: 10px;
}
#theme-features .box #left h6{
	color: #fff;
}
#theme-features .box #left p{
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 14px;
	line-height: 22.4px;
	letter-spacing: 0.4px;
	color: #8c8c8c;
}
#theme-features #right .pe{
	font-size: 30px;
	line-height: 30px;
}
#theme-features #right .top{
	background-color: #fff;
	padding: 57px 35px;
	margin-bottom: 10px;
}
#theme-features #right .bottom #right-left,
#theme-features #right .bottom #right-right{
	background-color: #e5e5e5;
	flex:1;
}
#theme-features #right .bottom #right-left{
	width: 49%;
	margin-right: 5px;
}
#theme-features #right .bottom #right-right{
	width: 49%;
	margin-left: 5px;
}
#theme-features #right .bottom #right-left,
#theme-features #right .bottom #right-right{
	padding: 35px 30px 20px 30px;
}
#theme-features #right p{
	font-family: 'Raleway';
	font-size: 14px;
	font-weight: 300;
	line-height: 22.4px;
	letter-spacing: 0.4px;
	color: #a6a6a6;
}
/*end image-background */

/*latest-works*/
#latest-works{
	padding-top: 110px;
	padding-bottom: 70px;
}
#latest-works #info-works h5{
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.4px;
	color: #333333;
	padding-bottom: 35px;
}
#latest-works #info-works p{
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.4px;
	line-height: 22.4px;
	color: #b3b3b3;
	padding-bottom: 60px;
}
#latest-works .container .row img{
	margin-bottom: 10px;
}
#latest-works .container .mask-info p{
	font-family: 'Montserrat';
	font-size: 14px;
	color: #212121;
	letter-spacing: 0.4px;
	line-height: 16.8px;
	text-transform: uppercase;
	text-align: left;
}
#latest-works .container .mask-info .pe-7s-right-arrow{
	text-align: right;
	font-size: 40px;
	color: #b1b1b1;
}
#latest-works .container .mask-info .info{
	padding: 0px 25px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
#latest-works .container .mask-info .info .pe-7s-right-arrow{
	float: right;
	padding-top: 10px;
}
#latest-works .container .mask-info .pe-7s-right-arrow:hover{
	color: #b6683f;
	transition: all 0.4s ease-in-out;
}
#latest-works .container .mask-middle-product{
	margin: 0px -10px;
}
/*end latest-works*/

/*Portfolio*/
#portfolio{
	background-size: cover;
	background-image:url("../images/background-view.jpg");
	background-repeat: repeat;
}
.pe-7s-portfolio{
	font-size: 60px;
	line-height: 60px;
	padding-top: 20px;
	color: #fff;
}
#portfolio .info-portfolio{
	padding-top: 55px;
}
#portfolio h5{
	font-family: 'Montserrat';
	font-size: 14px;
	color: #fff;
	letter-spacing: 1px;
	line-height: 16.8px;
	text-transform: uppercase;
	padding-top: 35px;
}
#portfolio a{
	border: 2px solid #fff;
	border-radius: 5%;
	text-decoration: none;
	font-family: 'Montserrat';
	font-size: 13px;
	line-height: 15.6px;
	letter-spacing: 0.4px;
	color: #333333;
	text-transform: uppercase;
}
#portfolio .btn-link{
	color: #fff;
}
#portfolio a:hover{
	border: 2px solid #c88054;
	color: #c88054;
	transition: all 0.4s ease-in-out;
}
#portfolio .btn-portfolio{
	padding-top: 90px;
	padding-bottom: 80px;
}

/*end Portfolio*/

/*data*/
#data .container-fluid .main .row{
	height: 360px;
}
#data .container-fluid .main .client{
	background-color: #e5e5e5;
}
#data .container-fluid .main .won{
	background-color: #eeeeee;
}
#data .container-fluid .main .fan{
	background-color: #f5f5f5;
}
.data-info{
	margin-top: 125px;
}
#data .container-fluid .data-info i {
	float: left;
	font-size: 70px;
	color: #bababa;
	padding-right: 70px;
	padding-left: 30px;
	margin-right: -70px;
}
#data h1{
	font-family: 'Montserrat';
	font-size: 36px;
	font-weight: 400;
	line-height: 43.2px;
	letter-spacing: 0px;
	color: #202020;
	text-transform: uppercase;
}
#data p{
	font-family: 'Montserrat';
	font-size: 13px;
	line-height: 15.6px;
	letter-spacing: 0.4px;
	color: #a1a1a1;
	text-transform: uppercase;
}
/*end data*/

/*bottom-product*/
#bottom-product h3{
	font-family: 'Montserrat';
	font-size: 24px;
	line-height: 33.6px;
	letter-spacing: 0px;
	color: #666666;
	text-transform: uppercase;
	padding-bottom: 30px;
}
#bottom-product p{
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 16px;
	line-height: 25.6px;
	letter-spacing: 0px;
	color: #b3b3b3;
	padding-bottom: 60px;
}
#bottom-product a{
	font-family: 'Montserrat';
	font-size: 13px;
	line-height: 15.6px;
	letter-spacing: 0.4px;
	color: #3d3d3d;
	text-transform: uppercase;
	border: 2px solid #3d3d3d;
	padding: 20px;
	text-decoration: none;
	border-radius: 5%; 
}
#bottom-product .row-1{
	padding: 120px 0px;
}
#bottom-product a:hover{
	border: 2px solid #c88054;
	transition:all 0.4s ease-in-out;
	color: #c88054;
}
#bottom-product .container-fluid{
	border-bottom: 1px solid #eeeeee;
}
/*end bottom-product*/

/*client*/
#client{
	background-image: url("../images/client-background.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
}
#client .slide-box{
	padding-top: 125px;
	padding-bottom: 90px;
}
#client #carousel-owl-03 p{
	font-family: 'Raleway';
	font-size: 18px;
	line-height: 28.8px;
	letter-spacing: 0px;
	color: #c8c8c8;
	padding-bottom: 30px;
}
#client #carousel-owl-03 .link{
	font-family: 'Raleway';
	font-size: 11px;
	color: #c8c8c8;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	line-height: 13.2px;
}
#client #carousel-owl-03 h5{
	font-family: 'Montserrat';
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	line-height: 16.8px;
	color: #ffffff;
	padding-bottom: 5px;
}
#client #row-right {
	padding-top: 90px;
	padding-bottom: 90px;
}
/*end client*/

/*new-update*/
#new-update{
	padding-bottom: 110px;
	padding-top: 110px;
}
#new-update .mask-new-update .mask-update{
	position: relative;
	background-image: url("../images/img-new-update.jpg");
}
#new-update #bot-right .mask-update{
	background-image: none;
	background-color: #f5f5f5 !important;
}
#new-update .mask-update .pe-7s-right-arrow{
	font-size: 22px;
	color: #868686;
	float: right;
	padding-left: 10px;
}#new-update .mask-update .more-update{
	float: right;
	margin-top: 20px;
	padding-right: 15px;
}
#new-update .mask-update .more-update a{
	color: #868686;
	text-decoration: none;
	font-size: 11px;
	font-family: 'Montserrat';
	line-height: ;
	letter-spacing: ;
	text-transform: uppercase;
}
#new-update .mask-update {
	height: 260px;
}
#new-update .mask-update .mask{
	height: 260px;
	background-color: #f5f5f5;
}
#new-update .container .row .mask-new-update{
	padding-right: 5px;
	padding-left: 5px;
}
#new-update .container .row{
	padding-bottom: 10px;
}
#new-update .container h5{
	font-family: 'Montserrat';
	font-size: 20px;
	letter-spacing: 0.4px;
	line-height: 24px;
	color: #333333;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 60px;
}
#new-update .container h6{
	font-family: 'Montserrat';
	font-size: 14px;
	letter-spacing: 0.4px;
	line-height: 16.8px;
	color: #646464;
	text-transform: uppercase;
	padding-top: 40px;
}
#new-update .container .info{
	font-family: 'Montserrat';
	font-size: 11px;
	letter-spacing: 0.4px;
	line-height: 13.2px;
	color: #868686;
	text-transform: uppercase;
}
#new-update .container p{
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.4px;
	line-height: 22.4px;
	color: #8a8a8a;
}
#new-update .mask-update .extra{
	height: 240px;
	background-color: #fff;
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
}
#new-update .container .extra p{
	font-family: 'Montserrat';
	font-size: 13px;
	letter-spacing: 0.4px;
	line-height: 15.6px;
	color: #bababa;
	text-transform: uppercase;
	padding-top: 90px;
}
#new-update .container .extra h3{
	font-family: 'Montserrat';
	font-size: 18px;
	letter-spacing: 0.4px;
	line-height: 21.6px;
	color: #333333;
	text-transform: uppercase;
}
#new-update .container .extra .pe-7s-news-paper{
	font-size: 90px;
	color: #eeeeee;
	padding-top: 80px;
}
#new-update .mask-update img{
	padding-top: 50px;
}

/*end new-update*/


/*end main*/

/*footer*/
footer #top {
	background-image: url("../images/footer-top.jpg");
	background-size: cover;
	background-repeat: repeat;
}
footer #top #map-info{
	display: none;
}
footer #middle {
	background-image: url("../images/footer-middle.jpg");
	background-size: cover;
	background-repeat: repeat;
}
footer #bottom {
	background-image: url("../images/footer-top.jpg");
	background-size: cover;
	background-repeat: repeat;
}
footer #top .pe{
	font-size: 30px;
	line-height: 40px;
	color: #aaaaaa;
	padding: 10px 0px 10px 30px;
	border-left: 1px solid #222222;
}
footer #top .pe-7s-up-arrow{
	border-right: 1px solid #222222;
}
footer #top .p{
	font-family: 'Montserrat';
	font-size: 14px;
	text-transform: uppercase;
	color: #aaaaaa;
	line-height: 16.8px;
	letter-spacing: 1px;
	padding: 20px 30px 0px 10px;
	text-decoration: none;
	float: right;
	padding-top: 10px;
}
footer #top .p:hover{
	color: #c88054;
	transition: all 0.4s ease-in-out;
}
footer h6{
	font-family: 'Montserrat';
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	line-height: 16.8px;
	color: #fff;
	padding-top: 60px;
}
footer p{
	font-family: 'Montserrat';
	font-size: 11px;
	color: #cccccc;
	line-height: 28.6px;
	letter-spacing: 0.4px;
	text-transform: uppercase;
}
footer #middle p .pe{
	padding-right: 20px;
}
footer #middle .row .row .row{
	padding-bottom: 5px;
}
footer #middle{
	padding-bottom: 95px;
}
footer #middle p a{
	color: #cccccc;
}
footer #middle p a:hover {
	color: #b6683f;
	transition: all 0.4s ease-in-out;
	text-decoration: none;
}
footer #bottom ul{
	padding: 50px 0px;
}
footer #bottom ul li{
	margin: 2px;
    list-style: none outside none;
    display: inline;
}
footer #bottom span{
	width: 44px;
    height: 44px;
    color: #212121;
    background-color: #ffffff;
    font-size: 22px;
    text-align:center;
    line-height: 44px;
    border-radius: 50%;
    transition: all ease 0.3s;
}
footer #bottom span:hover{
	text-decoration: none;
    transition: all ease 0.3s;
    color:#fff;
    background-color: #c88054;
}
footer #bottom #right{
	font-family: 'Montserrat';
	font-size: 11px;
	line-height: 17.6px;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	padding-top: 55px;
}
/*end footer*/
#search{
	display: none;
	position: absolute;
  	top: 24px;
  	right: 0;
	z-index: 999;    
	background: transition;
	background-image: linear-gradient(top, #fff, #eee);  
	padding: 15px;
}
img{
	max-width: 100%;
}
@media (min-width: 1740px){
	#middle-product .container,
	header nav .container{
		width: 1740px;
	}
}
@media (max-width: 991px){
	#new-update #top-right,
	#new-update #bottom-right{
		padding-top: 10px;
	}
	#new-update .row .col-xs-12{
		padding-bottom: 10px;
	}
	#new-update .container .row{
		padding-bottom: 0px;
	}
	#theme-features .box,
	#theme-features #right .bottom .row{
		display: block;
	}
	#theme-features #right .bottom #right-right {
    	margin-left: 0px; 
	}
	#theme-features .box{
		margin-left: 0px;
		margin-right: 0px;
	}
	#theme-features .box #left{
		margin-bottom: 10px;
	}
}
@media (min-width: 1170px){
	#menu-extra .container {
		margin-top: 65px;
		height: 70px;
	}
}
@media (max-width: 767px){
	.sticky-menu{
		background-color: rgba(0,0,0,0.8);
		margin-top: 0px;
		padding-bottom: 10px;
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		z-index: 9999;
	}
	header .navbar{
		background-color: rgba(0,0,0,0.8);
		padding-bottom: 15px;
	}
	header .navbar ul li{
		border-bottom: 1px solid #b6683f;
		text-align: center;
		background-color: #000;
	}
	header .navbar-toggle:hover{
		background-color: rgba(255,255,255,0.9);
	}
	header .navbar-toggle{
		border:1px solid #000;
		background-color: rgba(255,255,255,0.7);
	}
	header .navbar-toggle .icon-bar{
		background-color: #000;
	}
	#Carousel .item h1,
	#say-hello h1{
		font-size: 36px;
	}
	#Carousel .item p{
		font-size: 11px;
	}
	footer #middle .col-xs-12{
		text-align: center;
	}
	footer #bottom ul,
	footer #bottom #right{
		text-align: center;
	}
	#img-bottom-product{
		padding-top: 50px;
	}
}